@import "tailwindcss";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  height: 10dvh;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.503);
}

.logo {
  width: 200px;
  height: 127px;
  z-index: -1;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.nav-items ul > li {
  text-decoration-line: none;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  opacity: 0.7;
}

.nav-items ul > li:hover {
  opacity: 0.7;
  font-weight: 500;
  backdrop-filter: blur(10px);
  text-shadow: 0.3px 0.3px 0.6px #000000;
}

.body {
  padding: 10px;
}

.res-card {
  width: 250px;
  height: 350px;
  border-radius: 4px;
  padding: 10px;
  transition: all ease 0.2s;
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.407);
}

.res-logo {
  width: 100%;
  height: 50%;
}

.res-card > h3 {
  margin-bottom: 8px;
  margin-top: 5px;
  font-weight: 600;
}

.res-card > h4 {
  opacity: 0.7;
  margin-bottom: 2px;
  font-weight: 400;
}
.res-card:hover {
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: start;
}
.filter {
  display: flex;
  align-items: center;
}

.filter-btn,
.login,
.search button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  background: rgb(0, 170, 255);
  cursor: pointer;
  transition: background 0.3s;
}

.filter-btn:hover,
.login:hover,
.search button:hover {
  background: grey;
}

.search input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 20px;
  padding: 5px;
}

.shimmer-contanier {
  display: flex;
  gap: 5vh;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-cards {
  width: 250px;
  height: 350px;
  border-radius: 4px;
  padding: 10px;
  background-color: #f0f0f0;
}

.card {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.login-page {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 30vw;
  height: 40dvh;
  background-color: rgb(220, 243, 245);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.287);
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.login-container h1 {
  margin-top: 40px;
}

.login-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.login-container form input {
  width: 90%;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

.login-container form input::placeholder {
  padding: 10px;
  font-size: 20px;
}

.login-container form p {
  color: #0000008e;
}

button:disabled {
  opacity: 0.35;
  background-color: red;

}
button:disabled:hover {
  opacity: 0.35;
  background-color: red;
  cursor: not-allowed;
  
}
.login-link {
  color: black;
  font-weight: 600;
}

.login-container.input-error,
select.input-error {
  border-color: #fc8181;
}

.login-container .error {
  color: #fc8181;
}


.user-class {
  border: 1px solid black;
  width: 300px;
  margin: 100px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-internet{
  font-size: 5vw;
} */